extends layout

block content
  .inner
    h2= title
    if firstTime
      form.form(action="/accountFirstTime" method="POST" enctype="multipart/form-data")
        label(for="name") Name
        input(type="text" name="name" value=user.name)
        label(for="email") Email Address
        input(type="email" name="email" value=user.email)
        label(for='photo') Photo
        input(type='file' name='photo' id='photo' accept='image/gif, image/png, image/jpeg, image/jpg')
        if user.photo
          img(src=`/uploads/${user.photo}` alt=user.name width=200)
        else
          p We use your 
            span
              a(href="gravatar.com") Gravatar
            span  by default
          img(src=user.gravatar alt=user.name width=200)
        label(for='distance-from') Average Distance - From
        input(type='number' name="distance-from" step=1 value=`${user.distanceFrom || 4}`)
        span Miles
        label(for='distance-to') Average Distance - To
        input(type='number' name="distance-to" step=1 value=`${user.distanceTo || 10}`)
        span Miles
        label(for='pace-from') Average Pace - From
        input(type='number' name='pace-from' step=0.5 value=`${user.paceFrom || 8}`)
        span Minutes per Mile
        label(for='pace-to') Average Pace - To
        input(type='number' name='pace-to' step=0.5 value=`${user.paceTo || 12}`)
        span Minutes per Mile
        label(for='bio') Bio
        input(type='textarea' name='bio' placeholder="A little something about you ..." value=`${user.bio || ''}`)
        input.button(type="submit" value="Update My Account")
      form(action="/deleteAccount" method="GET")
        input.button(type="submit" value="Delete My Account")
    else
      form.form(action="/account" method="POST" enctype="multipart/form-data")
        label(for="name") Name
        input(type="text" name="name" value=user.name)
        label(for="email") Email Address
        input(type="email" name="email" value=user.email)
        label(for='photo') Photo
        input(type='file' name='photo' id='photo' accept='image/gif, image/png, image/jpeg, image/jpg')
        if user.photo
          img(src=`/uploads/${user.photo}` alt=user.name width=200)
        else
          p We use your 
            span
              a(href="gravatar.com") Gravatar
            span  by default
          img(src=user.gravatar alt=user.name width=200)
        label(for='distance-from') Average Distance - From
        input(type='number' name="distance-from" step=1 value=`${user.distanceFrom || 4}`)
        span Miles
        label(for='distance-to') Average Distance - To
        input(type='number' name="distance-to" step=1 value=`${user.distanceTo || 10}`)
        span Miles
        label(for='pace-from') Average Pace - From
        input(type='number' name='pace-from' step=0.5 value=`${user.paceFrom || 8}`)
        span Minutes per Mile
        label(for='pace-to') Average Pace - To
        input(type='number' name='pace-to' step=0.5 value=`${user.paceTo || 12}`)
        span Minutes per Mile
        label(for='bio') Bio
        input(type='textarea' name='bio' placeholder="A little something about you ..." value=`${user.bio || ''}`)
        input.button(type="submit" value="Update My Account")
      form(action="/deleteAccount" method="GET")
        input.button(type="submit" value="Delete My Account")