extends layout

block content
  .inner
    if user
      h2 Welcome #{user.name}!
      h3 Upcoming runs:
        if upcomingRuns[0]
          each run in upcomingRuns
            .card
              a(href=`/runs/${run.slug}`) #{run.name}
              p= run.address
              p= run.start
        else
          p No upcoming runs!
          span
            a(href=`/runs`) Find some
          span , or,
          span
            a(href=`/new-run`)  make one!
    else
      h2 Welcome to Run Club!
      p Find running buddies and organize group runs easily!
      a.button(href=`/register`) Get started!

        