extends layout

block content
  .inner
    each runner in runners
      .card
        img(src=(runner.photo ? `/uploads/${runner.photo}` : runner.gravatar) alt=runner.name)
        p= runner.name
        p= runner.bio
        p Average Distance: #{runner.distance}mi
        p Average Pace: #{runner.pace}min/mi
        form(action=`/api/budsRequest/${runner._id}` method="POST")
          input.button(type="submit" value="Send Buds Request!")