extends layout

block content
  .inner
    each runner in runners
      .card
        img(src=(runner.photo ? `/uploads/${runner.photo}` : runner.gravatar) alt=runner.name)
        p= runner.name
        p= runner.bio
        p Distance: From #{runner.distanceFrom} to #{runner.distanceTo}mi
        p Pace: From #{runner.paceFrom} to #{runner.paceTo}min/mi
        form(action=`/api/budsRequest/${runner._id}` method="POST")
          input.button(type="submit" value="Send Buds Request!")