extends layout

block content
  .inner
    each runner in runners
      .card
        img(src=runner.gravatar alt=runner.name)
        p= runner.name
        - const budsList = user ? user.buds.map(bud => bud._id.toString()) : null
        if user && (runner._id.toString() !== user._id.toString())
          form(action=`/api/toggleFriendship/${runner._id}` method="POST")
            input.button(type="submit" value=`${budsList.includes(runner._id.toString()) ? 'Unfriend :(' : 'Friend!'}`)