mixin runCard(run = {})
  .run
    .run__hero
      .run__actions
        if user && run.author.equals(user._id)
          .run__action.run__action--edit
            a(href=`/runs/${run._id}/edit`)
              != h.icon('pencil')
      img(src=`/uploads/${run.photo || 'run.jpg'}`)
      h2.title
        a(href=`/runs/${run.slug}`) #{run.name}
    .run__details
      p= run.description.split(' ').slice(0, 25).join(' ')